* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(2deg, rgb(124, 74, 125) 5%, rgb(29, 27, 81) 40%);
  padding: 0 25px;
  height: 100px;
}
header * {
  color: white;
}

.svg {
  width: 30px;
  height: 30px;
}

.menu-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu-logo > * {
  margin-right: 10px;
}
.menu-logo span {
  font-size: 20px;
  font-weight: 100;
}
.menu-logo .svg {
  margin-right: 30px;
}

.vega-logo {
  width: 110px;
}

.search-container {
  display: flex;
  align-items: center;
  background-color: rgb(38, 38, 38);
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  height: 60%;
  width: 42%;
}
.search-container input {
  background-color: rgba(0, 0, 0, 0);
  width: 88%;
  height: 100%;
  padding: 0;
  margin: 0;
  border: none;
  font-size: 17px;
}
.search-container input:focus {
  outline: none;
}
.search-container img {
  margin: 0 5px 0 15px;
}

.header-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-actions > * {
  margin-left: 30px;
}
.header-actions .svg {
  margin-right: 5px;
}
.header-actions .add-event {
  display: flex;
  align-items: center;
  padding: 8px 18px;
  background-color: rgb(94, 153, 251);
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border: none;
}
.header-actions span {
  font-size: 18px;
}
.header-actions .notifications {
  border: none;
  background-color: rgba(0, 0, 0, 0);
}
.header-actions .profile {
  background-image: url(../images/eagle.jpg);
  background-size: contain;
  background-position: center;
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.dash-bar {
  display: flex;
  padding: 0 25px;
}
.dash-bar .left {
  border-right: 2px solid rgba(0, 0, 0, 0.261);
  width: 250px;
  display: flex;
  align-items: start;
  flex-direction: column;
}
.dash-bar .left .nav {
  display: flex;
  align-items: center;
  margin-top: 38px;
  text-decoration: none;
  color: black;
}
.dash-bar .left .nav img {
  margin-right: 20px;
}
.dash-bar .left .nav .navtxt {
  margin-top: 1px;
}
.dash-bar .left .line-container {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-right: 25px;
}
.dash-bar .left .line-container .break-line {
  height: 2px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.261);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.dash-bar .right {
  display: flex;
  width: 100%;
  flex-flow: column wrap;
  align-items: start;
  justify-content: start;
  margin: 30px 0 30px 70px;
}
.dash-bar .right .edit-event {
  font-size: 20px;
  display: flex;
  align-items: center;
  margin: 30px 0;
}
.dash-bar .right .edit-event .svg {
  margin-left: 10px;
  width: 25px;
  height: 25px;
}
.dash-bar .right .events-container {
  width: 66%;
  min-width: 66%;
  display: flex;
  flex-wrap: wrap;
  display: flex;
}
.dash-bar .right .events-container .event-container {
  margin-right: 25px;
  margin-bottom: 25px;
  border-radius: 20px;
  width: calc(50% - 25px);
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
}
.dash-bar .right .events-container .event-container .event-header {
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  color: white;
  background-color: rgb(22, 15, 58);
}
.dash-bar .right .events-container .event-container .event-header > * {
  margin: 0 25px;
}
.dash-bar .right .events-container .event-container .event-header h3 {
  font-size: 25px;
  font-weight: 100;
}
.dash-bar .right .events-container .event-container .event-info-container {
  margin: 0 25px 25px 25px;
  display: flex;
  flex-direction: column;
}
.dash-bar .right .events-container .event-container .event-info-container > * {
  margin-top: 20px;
}
.dash-bar .right .events-container .event-container .event-info-container .event-status {
  border-radius: 20px;
  display: flex;
  padding: 15px;
  justify-content: start;
  background-color: #eee;
  border-radius: 20px;
  border: 1px solid #ccc;
}
.dash-bar .right .events-container .event-container .event-info-container .event-status .svg {
  width: 20px;
  height: 20px;
}
.dash-bar .right .events-container .event-container .event-info-container .event-status span, .dash-bar .right .events-container .event-container .event-info-container .event-status p {
  color: #999;
  font-size: 14px;
}
.dash-bar .right .events-container .event-container .event-info-container .event-status > div {
  width: 100%;
  margin: 0 15px;
  display: flex;
  flex-direction: column;
}
.dash-bar .right .events-container .event-container .event-info-container .event-status > div > div {
  margin-bottom: 5px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.dash-bar .right .events-container .event-container .event-info-container .event-status > div > div b {
  font-size: 18px;
}
.dash-bar .right .events-container .event-container .event-info-container .event-date-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.dash-bar .right .events-container .event-container .event-info-container .event-date-container .date {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.dash-bar .right .events-container .event-container .event-info-container .event-date-container .date b {
  font-size: 30px;
}
.dash-bar .right .events-container .event-container .event-info-container .event-date-container .bar {
  height: 100%;
  width: 5px;
  background-color: rgb(104, 187, 196);
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.dash-bar .right .events-container .event-container .event-info-container .event-date-container .pfp {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border: 1px solid black;
  background-image: url(../images/eagle.jpg);
  background-position: center;
  background-size: cover;
}
.dash-bar .right .events-container .event-container .event-info-container .event-date-container .exact-info {
  width: 65%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.dash-bar .right .events-container .event-container .event-info-container .event-date-container .exact-info > * {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.dash-bar .right .events-container .event-container .event-info-container .event-date-container .exact-info > * p {
  font-size: 15px;
  color: #222;
}
.dash-bar .right .events-container .event-container .event-info-container .announcements-container {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.dash-bar .right .events-container .event-container .event-info-container .announcements-container .announcement-info {
  margin-top: 10px;
  padding: 15px;
  width: 100%;
  display: flex;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border: 1px #ccc solid;
}
.dash-bar .right .events-container .event-container .event-info-container .announcements-container .announcement-info .pfp {
  border: 1px solid #000;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  width: 70px;
  height: 70px;
  min-width: 70px;
  min-height: 70px;
  margin-right: 10px;
  background-image: url(../images/person.jpg);
  background-size: cover;
  background-position: center;
}
.dash-bar .right .events-container .event-container .event-info-container .announcements-container .announcement-info .announcement-container {
  display: flex;
  align-content: space-between;
  flex-direction: column;
}
.dash-bar .right .events-container .event-container .event-info-container .announcements-container .announcement-info .announcement-container .name-time {
  display: flex;
  justify-content: space-between;
}
.dash-bar .right .events-container .event-container .event-info-container .announcements-container .announcement-info .announcement-container .name-time span, .dash-bar .right .events-container .event-container .event-info-container .announcements-container .announcement-info .announcement-container p {
  color: #555;
  font-size: 14px;
}
.dash-bar .right .events-container .event-container .event-info-container .group-page {
  background-color: #fff;
  font-size: 20px;
  font-weight: 700;
  color: rgb(94, 153, 251);
  border: 2px solid rgb(94, 153, 251);
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  padding: 15px;
}
.dash-bar .right .dash-container {
  display: flex;
}
.dash-bar .right .dash-container .calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(80deg, rgb(29, 27, 81) 20%, rgb(124, 74, 125) 80%);
  color: white;
  font-weight: 100;
  padding-inline: 30px;
  border-radius: 20px 20px 0 0;
  height: 10vh;
  width: 100%;
}
.dash-bar .right .dash-container .calendar-header h3 {
  margin-inline: 8px;
}
.dash-bar .right .dash-container .calendar {
  width: 100%;
  min-width: 34%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: start;
  align-items: center;
  background-color: rgb(38, 38, 38);
  border-radius: 20px;
}
.dash-bar .right .dash-container .calendar h3 {
  margin-top: 16px;
}
.dash-bar .right .dash-container .calendar .cal-flex-col {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
.dash-bar .right .dash-container .calendar .cal-flex-col .cal-flex-row {
  width: 55vh;
  height: 17vh;
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding-block: 30px;
  padding-inline: 30px;
}
.dash-bar .right .dash-container .calendar .cal-flex-col .cal-flex-row .cal-button {
  display: flex;
  justify-content: space-around;
  width: 30%;
}
.dash-bar .right .dash-container .calendar .cal-flex-col .cal-flex-row .cal-button .pending {
  background-color: rgb(38, 38, 38);
  color: whitesmoke;
  border: solid 1px whitesmoke;
  border-radius: 8px;
  padding: 10px;
  margin-left: 8px;
  cursor: pointer;
}
.dash-bar .right .dash-container .calendar .cal-flex-col .cal-flex-row .cal-button .calendar-svg-button {
  padding-block: 10px;
  padding-inline: 13px;
  border-radius: 8px;
  cursor: pointer;
}
.dash-bar .right .dash-container .calendar .cal-flex-col .cal-flex-row .cal-button .calendar-svg-button2 {
  padding-block: 10px;
  padding-inline: 13px;
  border-radius: 100px;
  cursor: pointer;
}
.dash-bar .right .dash-container .calendar .cal-flex-col .calendar-dy {
  display: block;
  text-align: center;
  align-items: center;
  color: whitesmoke;
  font-weight: 100;
}
.dash-bar .right .dash-container .calendar .cal-flex-col .calendar-dy img {
  background-color: rgb(38, 38, 38);
  vertical-align: middle;
  height: 20px;
  border-radius: 5px;
}
.dash-bar .right .dash-container .calendar .cal-flex-col .calendar-dy button, .dash-bar .right .dash-container .calendar .cal-flex-col .calendar-dy .date {
  border: 1px solid whitesmoke;
  border-radius: 5px;
  cursor: pointer;
}
.dash-bar .right .dash-container .calendar .cal-flex-col .year {
  display: block;
}
.dash-bar .right .dash-container .calendar .cal-flex-col .month {
  display: inline;
  margin-inline: 20px;
  position: relative;
  top: 5px;
}
.dash-bar .right .dash-container .calendar .cal-flex-col .cal-bf {
  display: inline;
}/*# sourceMappingURL=style.css.map */