@use '_colors.scss' as colors;
@import '_templates.scss';
@mixin round($tl: 20px, $tr: 20px, $br: 20px, $bl: 20px) {
    border-radius: $tl $tr $br $bl;
    border: none;
}
@mixin circle {
    border-radius: 50%;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: colors.$header-gradient;
    padding: 0 25px;
    height: 100px;
    * {
        color: white;
    }
}
.svg {
    width: 30px;
    height: 30px;
}
.menu-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    > * {
        margin-right: 10px;
    }
    span {
        font-size: 20px;
        font-weight: 100;
    }
    .svg {
        margin-right: 30px;
    }
}
.vega-logo {
    width: 110px;
}
.search-container {
    @include search-container;
}
.header-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    > * {
        margin-left: 30px;
    }
    .svg {
        margin-right: 5px;
    }
    .add-event {
        display: flex;
        align-items: center;
        padding: 8px 18px;
        background-color: colors.$addevent;
        @include round;
        border: none;
    }
    span {
        font-size: 18px;
    }
    .notifications {
        border: none;
        background-color: rgba(0,0,0,0);
    }
    .profile {
        background-image: url(../images/eagle.jpg);
        background-size: contain;
        background-position: center;
        width: 30px;
        height: 30px;
        border: none;
        @include circle;
    }
}


.dash-bar {
    display: flex;
    padding: 0 25px;
     .left {
        border-right: 2px solid rgba(0, 0, 0, 0.261);
        width: 250px;
        display: flex;
        align-items: start;
        flex-direction: column;
        .nav {
            display: flex;
            align-items: center;
            margin-top: 38px;
            text-decoration: none;
            color: black;
            img {
                margin-right: 20px;
            }
            .navtxt {
                margin-top: 1px;
            }
        }
        .line-container {
            display: flex;
            justify-content: center;
            width: 100%;
            padding-right: 25px;
            .break-line {
                height: 2px;
                width: 100%;
                background-color: rgba(0, 0, 0, 0.261);
                @include round;
            }
        }
    }
    .right {
        display: flex;
        width: 100%;
        flex-flow: column wrap;
        align-items: start;
        justify-content: start;
        margin: 30px 0 30px 70px;
        .edit-event {
            font-size: 20px;
            display: flex;
            align-items: center;
            margin: 30px 0;
            .svg {
                margin-left: 10px;
                width: 25px;
                height: 25px;
            }
        }
        .events-container {
            width: 66%;
            min-width: 66%;
            display: flex;
            flex-wrap: wrap;
            display: flex;
            .event-container {
                margin-right: 25px;
                margin-bottom: 25px;
                @include round;
                width: calc(50% - 25px);
                border: 1px solid #ccc;
                display: flex;
                flex-direction: column;
                .event-header {
                    @include round($bl: 0, $br: 0);
                    padding: 30px 0;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    color: white;
                    background-color: colors.$mini-headercolor;
                    > * {
                        margin: 0 25px;
                    }
                    h3 {
                        font-size: 25px;
                        font-weight: 100;
                    }
                }
                .event-info-container {
                    margin: 0 25px 25px 25px;
                    display: flex;
                    flex-direction: column;
                    > * {
                        margin-top: 20px;
                    }
                    .event-status {
                        @include round;
                        display: flex;
                        padding: 15px;
                        justify-content: start;
                        background-color: #eee;
                        border: 1px solid #ccc;
                        .svg {
                            width: 20px;
                            height: 20px;
                        }
                        span, p {
                            color: #999;
                            font-size: 14px;
                        }
                        > div {
                            width: 100%;
                            margin: 0 15px;
                            display: flex;
                            flex-direction: column;
                            > div {
                                margin-bottom: 5px;
                                width: 100%;
                                display: flex;
                                justify-content: space-between;
                                b {
                                    font-size: 18px;
                                }
                            }
                        }
                    }
                    .announcements-container {
                        display: flex;
                        flex-direction: column;
                        align-items: start;
                        .announcement-info {
                            margin-top: 10px;
                            padding: 15px;
                            width: 100%;
                            display: flex;
                            @include round;
                            border: 1px #ccc solid;
                            .pfp {
                                border: 1px solid #000;
                                @include circle;
                                width: 70px;
                                height: 70px;
                                min-width: 70px;
                                min-height: 70px;
                                margin-right: 10px;
                                background-image: url(../images/person.jpg);
                                background-size: cover;
                                background-position: center;
                            }
                            .announcement-container {
                                display: flex;
                                align-content: space-between;
                                flex-direction: column;
                                .name-time {
                                    display: flex;
                                    justify-content: space-between;
                                }
                                .name-time span, p {
                                    color: #555;
                                    font-size: 14px;
                                }
                            }
                        }
                    }
                    .group-page {
                        background-color: #fff;
                        font-size: 20px;
                        font-weight: 700;
                        color: colors.$addevent;
                        border: 2px solid colors.$addevent;
                        border-radius: 50px;
                        padding: 15px;
                    }
                }
            }
        }
        .dash-container {
            display: flex;
            .calendar-header {
                display: flex;
                justify-content: space-between;
                align-items: center;
                background-image: colors.$calendar-header;
                color: white;
                font-weight: 100;
                padding-inline: 30px;
                @include round($bl: 0, $br: 0);
                height: 10vh;
                width: 100%;
                h3 {
                    margin-inline: 8px;
                }
            }
            .calendar {
                width: 100%;
                min-width: 34%;
                display: flex;
                flex-flow: column nowrap;
                justify-content: start;
                align-items: center;
                background-color: colors.$calendar-background;
                @include round;
                .event-date-container {
                    margin-bottom: 15px;
                    width: 60%;
                    * {
                        color: #ddd;
                    }
                }
                h3 {
                    margin-top: 16px;
                }
                .cal-flex-col {
                    display: flex;
                    flex-flow: column nowrap;
                    align-items: center;
                .cal-flex-row {
                    width: 55vh;
                    height: 17vh;
                    display: flex;
                    justify-content: space-between;
                    align-items: start;
                    padding-block: 30px;
                    padding-inline: 30px;
                    .cal-button {
                        display: flex;
                        justify-content: space-around;
                        width: 30%;
                        .pending {
                            background-color: colors.$calendar-background;
                            color: whitesmoke;
                            border: solid 1px whitesmoke;
                            border-radius: 8px;
                            padding: 10px;
                            margin-left: 8px;
                            cursor: pointer;
                        }
                        .calendar-svg-button {
                            padding-block: 10px;
                            padding-inline: 13px;
                            border-radius: 8px;
                            cursor: pointer;
                        }
                        .calendar-svg-button2 {
                            padding-block: 10px;
                            padding-inline: 13px;
                            border-radius: 100px;
                            cursor: pointer;
                        }
                    }
                }
                .calendar-dy {
                    display: block;
                    text-align: center;
                    align-items: center;
                    color: whitesmoke;
                    font-weight: 100;
                    img {
                        background-color: colors.$calendar-background;
                        vertical-align: middle;
                        height: 20px;
                        border-radius: 5px;
                    }
                    button {
                        border: 1px solid whitesmoke;
                        border-radius: 5px;
                        cursor: pointer;
                    }
                    .date {
                        @extend button
                    }
                }
                .year {
                    display: block;
                }
                .month {
                    display: inline;
                    margin-inline: 20px;
                    position: relative;
                    top: 5px;
                }
                .cal-bf {
                    display: inline;
                }
                }
            }
        }
    }
    .event-date-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .date {
            display: flex;
            flex-direction: column;
            align-items: center;
            b {
                font-size: 30px;
            }
        }
        .bar {
            height: 100%;
            width: 5px;
            background-color: colors.$divider-line1;
            @include round;
        }
        .pfp {
            width: 40px;
            height: 40px;
            @include circle;
            border: 1px solid black;
            background-image: url(../images/eagle.jpg);
            background-position: center;
            background-size: cover;
        }
        .exact-info {
            width: 65%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            > * {
                width: 100%;
                display: flex;
                justify-content: space-between;
                p {
                    font-size: 15px;
                    color: #222
                }
            }
        }
    }
}

