@use '_colors.scss' as colors;
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: 0;
}
header {
    display: flex;
    justify-content: space-between;
    background: colors.$header-gradient;
    padding: 0 25px;
}
.svg {
    width: 30px;
    height: 30px;
}
.menu-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu-logo > * {
    margin-right: 5px;
}
.vega-logo {
    width: 150px;
}


section {
    padding: 0 25px;
    div {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }
    .left {
        width: 200px;
        display: flex;
        flex-flow: column nowrap;
    }
    .right {
        width: auto;
    }
}
